.side-bar {
  position: absolute;
  display: inline-block;
  top: 0; bottom: 0; left: 0;
  background-color: rgba(136, 136, 136, 1.0);
}

.test-container{
  margin-left: 10%; margin-right: 10%;
}

.test-button{
  display: inline-block;
}

.test-button + .test-button{
  margin-right: 2%;
}

#logo{
  margin-left: 5%;
}