.modal-window .modal-dialog {
  width: 250px;
}

.modal-prompt {
  text-align: center;
}

.modal-window .modal-prompt-text{
  margin-left: -25%;
  color: rgba(0, 0, 0, 0.4);
}

.modal-footer{
  margin-top: 3%;
}