<div class="side-bar">
  <h1 id='logo'>Chatterbox</h1>
  <span class="test-container">
    <button class='test-button' ng-click='Rooms.addRoom({name: "Derp Room"})'>Add Room</button>
    <button class='test-button' ng-click='Rooms.clearRooms()'>CLEAR</button>
  </span>
  
  <ul ng-repeat="(id, room) in Rooms.rooms">
    <li> {{room.name}} </li>
  </ul>
  
  <div ng-controller='ModalCtrl'>
    <button ng-click='open()'>New Room</button>
<!--    {{message }}-->
    {{ roomName }}
  </div>
  

</div>
